$cell-color: #e1ecf4;

.table {
  display: inline-grid;
  grid-gap: 10px;
  margin-top: 10px;

  .cell {
    background-color: lightgreen;
    color: #39739d;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.wrong {
      background-color: $cell-color;
      cursor: pointer;
      &:active {
        background-color: lightpink;
      }
    }

    &.right {
      background-color: $cell-color;
      cursor: pointer;
      &:active {
        background-color: lightgreen;
      }
    }
  }
}

